html, body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #7BD6FF;
    background: -webkit-linear-gradient(to bottom, #7BD6FF, #FFFFFF);
    background: linear-gradient(to bottom, #7BD6FF,#FFFFFF) fixed;
    border-radius: 18px;
    min-width: 500px;
  }

.lower{
  display: flex;
  min-width: 500px;
  height: auto;
  background: #7BD6FF;
  position: relative;
  margin-left: 50px;
  margin-right: 481px;
  border-radius: 18px;
  display:block; 
	width:80%; 
	margin:auto; 
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.upper{
  position: relative;
  height: 100px;
  background: #C3F1EE;
  display:block; 
  z-index: 2;
  margin:auto; 
  border-radius: 18px 18px 0px 0px;
  text-align: center;
  margin-top: 30px;
}

.row{
  display:flex; 
  margin:auto;
  max-width: 100%;
  height: auto;
  width: auto;
}

.left{
  margin:auto; 
  position: relative;
  width: 100%;
  background-color:#30bfff;
  text-align: center;
  border-radius: 0px 0px 18px 18px;
}
.right{
  width: 15%;
  text-align: center;
  display:block; 
  margin:auto; 
  float: right;
  background-color:#30bfff;
  border-radius: 0px 0px 18px 0px;
  z-index: 6;
}

.column{
  position: relative;
  margin-top: -22px;
  padding: 0px;
  height: 550px;
  display:block; 
  margin:auto; 
}

.middle{
  float: none;
  display: block;
  margin:auto;
  height: auto;
  max-height: 50%;
  width: 75%;
  border-radius: 18px;
  background-color:rgb(195, 241, 238);
  overflow-wrap: break-word;
  top: -33px;
}

div.upper > img {
  max-height: 77%;
  max-width: 100%;
  
}

.leftpan{
  position: sticky;
  width: 15%;
  vertical-align:middle;
  margin-left: -10px;
}

