.search-container {
    height: 450px;
}

.search-child{
    overflow-x: auto;
    height: 50%;
}

.sresult{
    overflow-x: auto;
    text-align: center;
    height: 77%;
    
}

.search-button {
    height: 32%;
    right: -1px;
}

.bar{
    overflow-x: auto;
    text-align: center;
    height: 20%;
}

.inputs{
   font-weight:bold; 
}

.searchbar{
    width: 50%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #C3F1EE; 
    border-radius: 18px;

}

::-webkit-scrollbar-thumb {
    background: #ffbdad; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #C3F1EE; 
}