.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 30px;
    height: 475px;
}

.grid-child{
    overflow-x: hidden;
    height: 50%;
}

.result{
    grid-column-start: 2;
    display: inline-block;
    overflow: hidden;
    text-align: center;
    height: 100%;
}

.bar{
    grid-column-start: 1;
    overflow-x: auto;
    text-align: center;
    height: 100%;
}

inputs{
   font-weight:bold; 
}

.checkbox-label, .select-label{
    display: inline-block;
    padding: 2px;

}
  
.checkbox-container {
    text-align: center;
}
  
.select-label label {
    display: block;
    text-align:center;
}